body {
    background-size: cover;
}

.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

#start,
#number_of_objects,
#start {
    font-size: 20px;
}

canvas {
    border: 2px solid rgb(168, 168, 168);
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px rgb(116, 116, 116);
}

.copy_right_footer {
    position: fixed;
    color: #000000;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    line-height: 2;
    text-align: center;
    margin-top: 100px;
}